@import '../../../../assets/styles/vars.scss';

.body {
	display: block;
	border-radius: 15px;
	padding: 0.3em 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-inline: auto;
	color: $colorTextWhite;
	width: 331px;

	&:hover {
		color: $colorWhiteUI;
	}
}
.green {
	background-color: $colorGreenUI;
	@include greenShadow;

	&:hover {
		box-shadow: inset 3em 1em $colorPrimaryBlue;
	}

	&:active {
		background-color: $colorPrimaryBlue;
	}
}
.red {
	background-color: $colorRedUI;
	@include redShadow;

	&:hover {
		box-shadow: inset 3em 1em $colorPrimaryBlue;
	}

	&:active {
		background-color: $colorPrimaryBlue;
	}
}
