@import '../../../assets/styles/vars.scss';

.body {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;

	margin-top: 1em;
	background-color: $colorBackground1;
	border-radius: 15px;
	width: 90%;
	max-width: 800px;
	margin-inline: auto;
	@include grayShadow;
	@include textH3;
	min-height: 400px;
	padding-top: 1.5em;
	padding-bottom: 1em;

	.button {
		display: flex;
		align-items: center;

		.plus {
			margin-right: 0.3em;
		}

		span {
			margin-right: 0.3em;
		}
	}
}
