@import '../../../assets/styles/vars.scss';

.body {
	@include textH5;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5em;

	.label {
		margin-inline: auto;

		.title {
			@include textH6;
			display: block;
			margin-bottom: 3px;
			color: $colorTextGray;
			opacity: 0;
			transition: opacity 0.4s;

			.titleIcon {
			}
		}

		.titleVisible {
			opacity: 1;
		}

		.input {
			width: 331px;
			@include textH5;
			color: $colorTextBase;
			padding: 0.3em 1em;
			border-radius: 10px;
			border: 2px solid $colorAccent1;
			background-color: $colorWhiteUI;

			&:focus {
				border: 2px solid $colorPrimaryBlue;
			}

			&::placeholder {
				opacity: 1;
			}

			&:focus::placeholder {
				opacity: 0;
			}
		}
	}

	.error {
		@include textH6;
		color: $colorRedUI;
		margin-inline: auto;
	}
}
