@import '../../../../assets/styles/vars.scss';

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	@include textH3;
	height: 1em;
	width: 1em;
	background-color: $colorPrimaryBlue;
	color: $colorWhiteUI;
	border-radius: 50%;
	@include grayShadow;

	&:hover {
		box-shadow: inset -0.3em -0.3em $colorGreenUI;
	}

	&:active {
		background-color: $colorGreenUI;
	}
}
